<ion-header translucent>
  <ion-toolbar>
    <ion-title>Incluir Objetivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDissmis()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form
    [formGroup]="goalsForm"
    (submit)="onSalvar()"
  >
    <ion-item>
      <ion-icon
        slot="start"
        name="menu"
      ></ion-icon>
      <ion-input
        type="text"
        placeholder="Nome objetivo"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon
        slot="start"
        name="cash-outline"
      ></ion-icon>
      <ion-input
        placeholder="Valor despesa"
        formControlName="value"
        separatorLimit="100.000.000,00"
        maxlength="17"
        mask="99999999999,00"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon
        slot="start"
        name="calendar"
      ></ion-icon>
      <ion-datetime
        type="text"
        placeholder="Data da despesa"
        displayFormat="DD/MM/YYYY"
        formControlName="expectedDate"
        max="2050-12-31"
      ></ion-datetime>
    </ion-item>
    <ion-button
      expand="full"
      color="secondary"
      type="submit"
      [disabled]="goalsForm.invalid"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
