.container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desc-data {
  display: flex;
  flex-direction: column;
}

.item1 {
  font-size: 18px;
  font-weight: bold;
}

.item2 {
  font-size: 12px;
}
