<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conta</ion-card-subtitle>
      <ion-card-title>Dados cadastrados</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aqui você encontra os dados dos seu perfil e podendo edita-los quando necessário
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="trophy" slot="start"></ion-icon>
      <ion-label>Conquistas</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>Objetivos</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>Suporte</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
