<ng-container *ngIf="(registerLayout$ | async ) as state">
  <div class="ion-center">
    <ion-img src="assets/logo_branca.png"></ion-img>
  </div>

  <form [formGroup]="authForm" (submit)="onSubmit(state.isSignIn)">
    <ng-container *ngIf="onShowRegister(state.isSignIn)">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">
          Required
        </ion-note>
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">
          Min 3 characters
        </ion-note>
      </ion-item>
    </ng-container>

    <!-- Mobile phone -->
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-input
        type="text"
        name="phone"
        placeholder="+55 (00) 00000-0000"
        formControlName="phone"
        maxlength="19"
        inputmode="tel"
        prefix="+55 "
        mask="(00) 00000-0000"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="phone.dirty && phone.hasError('required')">
        Required
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="phone.dirty && phone.hasError('pattern')">
        Invalid Phone
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">
        Required
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">
        Min 6 characters
      </ion-note>
    </ion-item>

    <ion-button color="tertiary" expand="block" type="submit" [disabled]="authForm.invalid">
      {{ state.action }}
    </ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="changeAuthAction(state.isSignIn)">
    {{ state.actionChange }}
  </ion-button>
</ng-container>
